
<ul class="nav navbar-nav side-nav">

    <li>

      <a href class="fa fa-dashboard">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
      <!--   <i class="fa fa-fw fa-angle-down text-active"></i> -->
      </span>
      <i class="glyphicon glyphicon-stars icon text-primary-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>

    </a>
    </li>
    <li>
    <a href="{:U('index/index')}" class="fa fa-dashboard">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
      </span>
      <i class="glyphicon glyphicon-stars icon text-primary-dker"></i>
    <i class=""></i> 仪表盘</a>
    </li>
    <li class="dropdown">
      <a href="{:U('category/index')}" class="fa fa-reorder">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
      <!--   <i class="fa fa-fw fa-angle-down text-active"></i> -->
      </span>
      <i class="glyphicon glyphicon-stars icon text-primary-dker"></i>
    <i class=""></i> 分类管理</a>
    </li>


     <li class="dropdown">
      <a href="{:U('post/index')}" class="fa fa-edit">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
      <!--   <i class="fa fa-fw fa-angle-down text-active"></i> -->
      </span>
      <i class="glyphicon glyphicon-stars icon text-primary-dker"></i>
    <i class=""></i> 文章管理</a>
    </li>

     <li class="dropdown">
      <a href="{:U('page/index')}" class="fa fa-file-text-o">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
      <!--   <i class="fa fa-fw fa-angle-down text-active"></i> -->
      </span>
      <i class="glyphicon glyphicon-stars icon text-primary-dker"></i>
    <i class=""></i> 单页管理</a>
    </li>

     <li class="dropdown">
      <a href="{:U('member/index')}" class="fa fa-users">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
      </span>
      <i class="glyphicon glyphicon-stars icon text-primary-dker"></i>
    <i class=""></i> 用户管理</a>
    </li>
 <li class="dropdown">
      <a href="{:U('links/index')}" class="fa fa-link">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
      </span>
      <i class="glyphicon glyphicon-stars icon text-primary-dker"></i>
    <i class=""></i> 链接管理</a>
    </li>

    <li class="dropdown">
      <a href="{:U('message/index')}" class="fa fa-link">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
      </span>
      <i class="glyphicon glyphicon-stars icon text-primary-dker"></i>
    <i class=""></i> 留言管理</a>
    </li>


  
    <li class="dropdown">
        <a href="#" class="dropdown-toggle fa fa-cog" data-toggle="dropdown">
         <i class="glyphicon glyphicon-stars icon text-primary-dker"></i>
        <i class=""></i> 系统设置 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('setting/index')}">自定义字段</a></li>
            <li><a href="#">系统优化</a></li>
            <li><a href="#">缓存管理</a></li>
        </ul>
    </li>
</ul>